body{
    
}
.menu {
    position: relative;
    max-width: 482px;
    height: 80%;
    max-height: 693px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;   
    animation: MenuAppear 0.9s ease-in;
  
   
}
@keyframes MenuAppear{
    from{
        width: 0px;
        height: 0;
        display: none;
        overflow: hidden;
       
    }
    to {
        width: 482px;
        height: 80%;
        display: block;
   
    }
}
.close-menu{
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #16182308;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
}
.menu-header{
    margin: 16px 0;
text-align: center;
}
.menu-list{
    width: 100%;
    margin: auto;
    padding: 48px 0 0 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 90%;
    align-items: center;
    
}
.menu-body{
    width: 375px;
    height: 100%;
}
.menu-item{
    height: 44px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--text-color);
    border: 1px solid #1618231f;
    margin-bottom: 16px;
    cursor: pointer;
}
.menu-icon{
    font-size: 20px;
    position: absolute;
    left: 30px;
    line-height: 0;
}
.menu-footer{
    height: 64px;
    border-top: 1px solid #1618231f;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #161823;
    font-size: 15px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #ffffff;
    
}
.menu-toggle{
    color: #fe2c55;
    font-weight: 600;
    margin-left: 5px;
    cursor: pointer;
}